[Unit]
Description=relativepath sitee
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=jasondoze
WorkingDirectory=/home/jasondoze/relativepath/
ExecStart=usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target